<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.basicnetworking"
    android:versionCode="6"
    android:versionName="6.0">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Widget.AppCompat.Light.ActionBar"
        >


        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".ActivityDialog$CloseDialogReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>




        <service
            android:name=".MyService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"></service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityDialog"
            android:label="@string/title_activity_dialog"
            android:theme="@style/Theme.Transparent">
        </activity>
    </application>

</manifest>